nav{
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    margin-right: 220px;
    align-items: center;
}
ul{
    display: flex;
    font-size: 20px;
    
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}
header{
    background: rgb(255, 248, 243);
    background-image: url(./images/developer.png) , url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left top , right bottom;
}
span{
    color: rgb(253, 110, 10);
}
nav h1 {
    font-size: 45px;
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    width: 585px;
    margin-left: 220px;
}
.abid{
    color: white;
    background-color: rgb(253, 110, 10);
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: -10px;
    margin-right: -10px;
    border: none;
}
.abid1{
    color: white;
    background-color:rgb(253, 110, 10);
    border-radius: 5px;
    padding: 10px 10px;
    margin-right: 10px;
    border: none;
}
.abid2{
    color:rgb(253, 110, 10);
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    width: 100px;
}
.abo{
    border-radius: 10px;
    background: rgb(255, 248, 243);
    width: 1000px;
    height: 280px;
    padding: 50px;
    margin-top: 50px;
    margin-left: 150px;
    text-align: center;
}
.abo2, .abo3 ,.abo4 ,.abo5{
    width: 140px;
    height: 50px;
    margin-left:20px;
    margin-right: 20px;
    text-align: center;
}
.kita{
    display: flex;
    justify-content: center;
}
main div .a000, .b00{
    text-align: center;
}
.a1{
    margin-top: 100px;
    text-align: center;
}
.kake{
    display: flex;
    justify-content: center;
    text-align: left;
}
.b1 ,.b2 ,.b3 ,.b4{
    margin-left: 12px;
    margin-right: 12px;
    border: 0.10px solid black;
    text-align: left;
    padding: 30px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.b1>p ,.b2>p ,.b3>p ,.b4>p{
    text-align: left;
}
.a2> h1{
    text-align: center;
}
.kelo{
    display: flex;
    justify-content: center;
}
.c1 , .c2{
    margin-left: 35px;
    margin-right: 35px;
}
/* div{
    border: 1px solid red;
}   */
.kelo2{
    display: flex;
    justify-content: center;
}
.c3 , .c4{
    margin-left: 35px;
    margin-right: 35px;
}
.kelo3{
    display: flex;
    justify-content: center;
}
.c5 , .c6{
    margin-left: 35px;
    margin-right: 35px;
}
.f ,.f2{
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 130px;
    margin-bottom: 130px;
}
.abid3{
    color: white;
    background-color:rgb(253, 110, 10);
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 150px;
    height: 54px;
}
.a2{
    text-align: center;
}
.ful{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 248, 243);
}
.box{
    color: rgb(117, 117, 117);
    width: 431px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 20px;
}
.box1{
    color: rgb(117, 117, 117);
    width: 431px;
    height: 100px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;
}
.box, .box1{
    margin-bottom: 20px;
}
.abid4{
    color: white;
    background-color:rgb(253, 110, 10);
    border-radius: 5px;
    padding: 20px 20px;
    margin-right: 10px;
    border: none;
    width: 130px;
}